google-play-scraper==1.2.7
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
nltk==3.8.1
Sastrawi==1.0.1
tensorflow==2.16.1
keras==3.3.3
gensim==4.3.2
matplotlib==3.8.4
seaborn==0.13.2
wordcloud==1.9.3
imbalanced-learn==0.12.2
joblib==1.4.2
tqdm==4.66.4
